@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(./assets/fonts/Inter.ttf) format('truetype');
}

@font-face {
  font-family: 'Freestyle';
  src: local('Freestyle'), url(./assets/fonts/Freestyle.TTF) format('truetype');
}
